("6.3" ("d9434e0723aceb1a44f3a23c290bcf9ec6ec171a" . "e6f20dbf07c73a7a452f981e2f29fb846bfef61d") #"F:\\Dropbox\\programming\\Racket\\sdk\\..\\xml\\xml-utils.rkt" #"F:\\Dropbox\\programming\\Racket\\sdk\\sdk-module.rkt" (collects #"errortrace" #"errortrace-key.rkt") (collects #"racket" #"main.rkt") (collects #"racket" #"runtime-config.rkt") (collects #"xml" #"main.rkt") (indirect collects #"racket" #"match" #"gen-match.rkt") (indirect collects #"racket" #"match" #"parse.rkt"))
